<div class="container">
大学編集

<%= form_tag("/uni/#{@uni.id}/update") do %>


<p>大学名（〇〇大学まで入力ください）</p>
  <input name="uni_name" value=<%= @uni.uni_name %> >
<p>メールアドレス</p>
  <input name="email" value=<%= @uni.email %>>
<p>パスワード</p>
  <input name="pass" value=<%= @uni.pass %>>
<p>サークル名</p>
  <input name="circle_name" value=<%= @uni.circle_name %>>
<p>代表者名</p>
  <input name="top_name" value=<%= @uni.top_name %>>
<br><br>
    <input type="submit" value="編集">
    <p>※登録済みメールアドレスは使えません</p>
<% end %>

<p><%= link_to '退会', "/uni/#{@uni.id}/destroy" %></p>
※大学、登録イベントが全て削除されます

<br>
<br>
<input type="button" value="戻る" onClick="history.back()">

</div>