<div class="container">
  <%= form_tag("/uni/login") do %>
  <p>メールアドレス</p>
  <input name="email" value="<%= @email %>">
  
  <p>パスワード</p>
  <input type="password" name="pass" value="<%= @pass %>">
  
  <%= submit_tag "ログイン" %>
<% end %>

<input type="button" value="戻る" onClick="history.back()">
</div>