<div class="container">
新規大学登録






<%= form_tag("/uni/create") do %>


<p>大学名（〇〇大学まで入力ください）</p>
  <input name="uni_name">
<p>メールアドレス</p>
  <input name="email">
<p>パスワード</p>
  <input name="pass">
<p>サークル名</p>
  <input name="circle_name">
<p>代表者名</p>
  <input name="top_name">
<br><br>
    <input type="submit" value="新規登録">
    <p>※登録済みメールアドレスは使えません</p>
<% end %>

</div>