<div class="container">
    
    <h1><%= @uni.uni_name%> </h1>
    
    <p>大学名：<%= @uni.uni_name%></p>
    <p>サークル名：<%= @uni.circle_name%></p>
    <p>代表者：<%= @uni.top_name%></p>
    
    
    
    
    
    
    <p>最終更新日</p>
    <p><%= @uni.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
    
    <h1>開催イベント</h1>
        <div class="uni_event">
            <% @events.each do |e| %>
            <% if e.event_id.to_i == @uni.id.to_i %>
                <p><%= link_to e.event_name ,"/event/#{e.id}/show" %></p>
            <% end %>
        <% end %>
    
        </div>

<input type="button" value="戻る" onClick="history.back()">
    
    
</div>
