<div class="container">
  イベント編集

<%= form_tag("/event/#{@event.id}/update") do %>

  <p>イベント名</p>
  <input name="event_name"　value=<%= @event.event_name %> >
  <p>紹介文</p>
  <textarea name="message" value=<%= @event.message %> ></textarea><br>
  <input type="submit" value="編集">
<% end %>

<input type="button" value="戻る" onClick="history.back()">
</div>