<div class="container">
  <%= form_tag("/event/create") do %>

<h1>イベント登録</h1>

<p>イベント名</p>
  <input name="event_name">
<p>紹介文</p>
  <textarea name="message"></textarea><br>
    <input type="submit" value="新規登録">
<% end %>

<input type="button" value="戻る" onClick="history.back()">

</div>