<div class="container">

<div class="event_show">
    <h1><%= @event.event_name%></h1>
    主催校：<%= @uni.uni_name %></h1>
    <p>紹介文：<%= @event.message %></p>
    <p>最終更新日：<%= @event.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
    <% if @event.event_id.to_i == session[:uni_id].to_i %>
        <%= link_to '編集', "/event/#{@event.id}/edit" %>
        <%= link_to '削除', "/event/#{@event.id}/destroy" %>
    <% end %>
</div>

    
<input type="button" value="戻る" onClick="history.back()">

</div>