body{
    margin:0;
}
.flash{
    padding-left: 5px;
    background-color:rgba(65,105,225,0.5);
    color: white;
}
.top_bar{
    position: fixed;
    width: 100%;
    height: 50px;
    padding-left: 5px;
    background-color:rgba(65,105,225,0.5);
    color: white;
}
.top_bar p{
    margin:0;
    line-height: 50px;
}
.login_now{
    display: inline-block;
}
.header_menu{
    display:inline-block;
    float: right;
}
.header_menu ul{
    margin:0;
}
.header_menu ul li{
    display: inline-block;
    margin-right: 1em;
    list-style: note;
}
.container{
    padding-top:90px;
    padding-left: 40px;
    background-color: rgba(65,105,225,0.2);
    min-height: 800px;
}
.container h2{
    margin:0;
}
