<!DOCTYPE html>
<html>
  <head>
    <title>FDC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
<div class="flash">
  <% if flash[:info] %>
    <%= flash[:info] %>
    <% end %>
</div>
<div class="top_bar">
  <div class="login_now">
    <% if session[:uni_id] %>
      <p><%= Circle.find_by(id: session[:uni_id]).uni_name %>でログイン中<%= link_to '[編集]', "/uni/#{session[:uni_id]}/edit" %></p>
    <% end %>
  </div>

  <div class="header_menu">
    <ul>
      <li>
        <p><%= link_to '大学一覧', "/" %></p>
      </li>
      <li>
        <p><%= link_to 'イベント一覧', event_index_path %></p>
      </li>
      <li>
        <% if session[:uni_id] %>
          <p><%= link_to 'イベント作成', event_new_path %></p>
        <% else %>
          <p><%= link_to '大学登録', uni_new_path %></p>
        <% end %>
      </li>
      <li>
        <% if session[:uni_id] %>
          <p><%= link_to 'ログアウト', uni_logout_path %></p>
        <% else %>
          <p><%= link_to 'ログイン', uni_login_path %></p>
        <% end %>
      </li>
    </ul>
  </div>
</div>
  <body>
    <%= yield %>
  </body>
</html>
